<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Mapa do Bem</title>
    </head>
    <body>
      <div>
        <h1>Testando Mapa do Bem</h1>
      </div>

      {% for elemento in elementos %}
      <div>
        <h1>{{ elemento.nome }}</h1>
        <h2>{{ elemento.nomeComunidade }}</h2>
        <h3>{{ elemento.listaTags }}</h3>
        <p>{{ elemento.descricao }}</p>
      </div>
      {% endfor %}
    </body>
</html
